.page{
    height: 100%;
    width: 100%;

    .container_button_header_page{
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .cover_button_header{
            height: 100%;
            width: auto;
        }
    }

    .container_table{
        height: calc(100% - 50px);
        width: 100%;
    }
}

.action{
    gap: 0 10px;
}

.history_item{
    height: auto;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid var(--border_color);
}